body {
  font-family: "Handlee", cursive;
  font-size: 120%;
  background-image: url(../imagenes/lluvia.png);
  background-repeat: repeat;
  background-position: right, top;
}
h1 {
  color: rgb(17, 9, 52);
  text-align: center;
}
/*podemos usar el padding para poner la h1 separado de el lado izquierdo
   que estába antes pegado a la izquierda, solapando casi con el borde*/
small {
  font-variant: small-caps;
  font-weight: bold;
  color: rgb(17, 9, 52);
}
#wrapper {
  width: 650px;
  margin: 10px auto;
  padding-left: 50px;
  padding-right: 20px;
  /*trasnsparencia del 0,8 % se haria con la linea:
           background-color: rgba(255,255,255, 0.9);*/
  background-color: rgb(212, 237, 247, 0.9);
  background-repeat: no-repeat;
  background-position: 95% 60%;
  border: 4px solid rgb(17, 9, 52);
  border-radius: 40px;
  background-image: url(imagenes/afremov.jpg);
  background-repeat: no-repeat;
}

#pintor {
  float: right;
  display: inline;
  padding-right: 10%;
}
/*float lo uso para posicionar algo ignorando la caja
y el display inline es para que no ocupe toda la línea, porque es un bloque 
y ahora comparte espacio con los demás elementos*/

#final {
  color: rgb(17, 9, 52);
  font-weight: bolder;
  margin: 10px auto;
  padding-left: 50px;
  padding-right: 20px;
  background-color: rgb(212, 237, 247, 0.9);
  display: inline;
}
