/* Todos los elementos de la pagina */
* {
  font: 1em/1.3 Arial, Helvetica, sans-serif;
}
/* El titular de la pagina */
h1 {
  font: 3em/1.3 Garamond, Helvetica, sans-serif;
  textalign: center;
  color: #ff0000;
}
/* Los dos primeros parrafos usando la etiqueta "div"*/
#conBorde {
  border: 2px double #ff0000;
  padding: 5px;
  color: #336699;
}
/* Los dos ultimos parrafos usando el atributo "class"
    */
.sinBorde {
  color: #339966;
  padding-left: 20px;
  padding-right: 20px;
}
/* Todos los elementos "strong" de los dos primeros
    parrafos */
#conBorde strong {
  background: #ffffcc;
  padding: 0.1em;
  font-weight: bold;
}
/* Todos los elementos "cite" de los dos primeros
    parrafos */
#conBorde em {
  font-style: italic;
}
/* Todos los elementos "strong" y cite de los dos
    ultimos parrafos */
.sinBorde strong,
em {
  text-decoration: underline;
}
