/* Todo el cuerpo de la pagina */
body {
  font: 14px "Century Gothic", "TrebuchetMS", Arial, Helvetica, sans-serif;
  background: #ffff99;
}

/* El titular de la pagina */
h1 {
  font: 2em/1.3 "Trebuchet MS", Arial, Helvetica, sansserif;
  background: #f0f0f0;
  color: navy;
  border: 6px inset #ff0000;
  padding: 10px;
}

/* La referencia a la ciudad de "Washington" en el
		primer parrafo */
#resalto {
  font-size: 1.5em;
  font-weight: bold;
}

/* Los acronimos */
p acronym {
  font-size: 1.2em;
  text-decoration: underline;
}

/* La cita del final */
p cite {
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

/*si usase el asterisco para que mantenga las negritas hay que añadir esta línea: strong {font-weight: bold;} */
